section {
  display: flex;
  margin-bottom: 52px;
  @include pad {
    margin-bottom: 100px;
  }
}

// about section
.about-wrap {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-7);

  .about-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    @include pad {
      flex-direction: row;
    }
    .about-img {
      position: relative;
      display: inline-block;
      flex: 1;
      border-radius: var(--radius-lg);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--radius-lg);
        background: linear-gradient(
          160deg,
          var(--colors-styles-bg-glass-l) 0%,
          var(--colors-styles-bg-glass-d) 30%,
          var(--colors-styles-bg-glass-d) 70%
        );
        z-index: 5;
      }
      .blobs{
        position: absolute;
        &:first-child{
          top: -20%;
          left: 10%;
          z-index: 1;
        }
        &:last-child{
          bottom: -5%;
          right: 14%;
          z-index: 5;
        }
      }
      img:not(.blobs) {
        position: relative;
        z-index: 3;
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
        border-radius: var(--radius-lg);
        border: 3px solid var(--colors-styles-border-glass-l);
        box-shadow: 4px 4px 28px 0px rgba(148, 131, 185, 0.3);
      }
    }
    .about-content {
      flex: 1;
      display: flex;
      min-height: auto;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        color: var(--colors-gray-1000);
      }
      p {
        color: var(--colors-gray-800);
      }
    }
  }
  .about-hashtag {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
    .hashtag {
      padding: 8px 16px;
      border-radius: var(--radius-lg);
      background: var(--colors-gray-white);

      /* box-shadow */
      box-shadow: 4px 4px 36px 0px rgba(148, 131, 185, 0.2);
      backdrop-filter: blur(calc(var(--spacing-3) / 2));

      h4 {
        color: var(--colors-gray-1000);
        span {
          color: var(--colors-primary-600);
          margin-right: 4px;
        }
      }
    }
  }
}

// skills section
.skills-wrap {
  flex-direction: column;
  align-items: center;
  gap: 72px;
  h2 {
    color: var(--colors-gray-1000);
  }
  .skills-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    width: 100%;
    @include pad {
      flex-direction: row;
      align-items: center;
      gap: 24px;
    }
  }
}

.skills-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   min-width: 330px;
  width: 100%;
  min-height: 280px;
  box-sizing: border-box;
  padding: 40px 28px 24px 28px;

  border-radius: var(--radius-md);
  background: linear-gradient(
    130.31deg,
    var(--colors-styles-bg-glass-l),
    var(--colors-styles-bg-glass-d)
  );
  border: 2px solid var(--colors-styles-border-glass-l);

  /* box-shadow */
  box-shadow: 4px 4px 36px 0px rgba(148, 131, 185, 0.2);
  backdrop-filter: blur(calc(var(--spacing-3, 16px) / 2));
  @include pad {
    border-radius: var(--radius-lg);
    padding: 48px 28px 24px 28px;
  }

  //   skill icon bg
  &:nth-child(1) {
    .skill-icon {
      background: linear-gradient(152deg, #ffdb5d 20.55%, #ee9c20 94.22%);
      border: 2.5px solid #ffe37c;
    }
  }
  &:nth-child(2) {
    .skill-icon {
      background: linear-gradient(151.56deg, #ff5dc8, #d91e99);
      border: 2.5px solid #ff9cde;
    }
  }
  &:nth-child(3) {
    .skill-icon {
      background: linear-gradient(151.56deg, #3ddcff, #27a5ec);
      border: 2.5px solid #8ceaff;
    }
  }
  .item-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    min-height: 220px;
  }
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 28px;
  top: -43px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: var(--radius-lg);

  @include pad {
  }

  img {
    width: 40px;
    height: 40px;
    @include pad {
      width: 52px;
      height: 52px;
    }
  }
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  h3 {
    color: var(--colors-gray-1000);
  }
  ol {
    text-indent: -12px;
    padding-left: 20px;
    color: var(--colors-gray-800);
    li {
      margin-bottom: var(--spacing-1);
    }

    > li:before {
      width: 12px;
      content: '•';
      color: var(--colors-gray-600);
      display: inline-block;
    }
  }
}

.skill-software {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  .software-title {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    p {
      color: var(--colors-gray-400);
    }

    hr {
      height: 0.1px;
      width: 100%;
      margin: 0;
      border: 0;
      background: var(--colors-gray-400);
    }
  }
}

// portfolio section
.portfolio-wrap {
  align-items: flex-start;
  gap: var(--spacing-6);
  .portfolio-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    h2 {
      color: var(--colors-gray-1000);
    }
    .button-next {
      display: flex;
      width: 60px;
      height: 60px;
      box-sizing: border-box;
      padding: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--radius-max);
      border: 3px solid #d0baff;
      background: linear-gradient(180deg, #ba9df7 0%, #8b5dec 100%);
      box-shadow: 4px 4px 20px 0px rgba(148, 131, 185, 0.3);

      @include pad {
        width: 82px;
        height: 82px;
      }
    }
  }
  .portfolio-main {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 24px;
    overflow-x: auto;
    @include pad {
      overflow-x: unset;
    }
    .portfolio-scroll {
      display: flex;
      gap: 16px;
      min-width: 500px;
      overflow-x: auto;
      @include pad {
        gap: 20px;
      }
    }
  }
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  display: flex;
  aspect-ratio: 1/1;
  min-width: 200px;
  height: 200px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  border-radius: var(--radius-lg);
  border: 2px solid var(--colors-styles-border-glass-l);
  @include pad {
    min-width: 350px;
    height: 350px;
  }
  .portfolio-image {
    position: relative;
    display: inline-block;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        160deg,
        var(--colors-styles-bg-glass-l) 0%,
        var(--colors-styles-bg-glass-d) 30%,
        var(--colors-styles-bg-glass-d) 70%
      );
      pointer-events: none; /* 使疊加層不會阻擋點擊事件 */
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
      filter: brightness(1);
      background-color: linear-gradient(
        180deg,
        var(--colors-styles-bg-glass-l) 0%,
        var(--colors-styles-bg-glass-d) 25%,
        var(--colors-styles-bg-glass-d) 50%,
        var(--colors-styles-bg-glass-l) 100%
      );
    }
  }
  .portfolio-content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    min-width: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    color: #fff;
    background: linear-gradient(180deg, rgba(23, 18, 29, 0) 0%, rgba(23, 18, 29, 0.8) 85%);
    background-blend-mode: multiply;
    z-index: 2;
    h4 {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100%;
      width: 100%;
      word-break: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

// contact section
.contact-wrap {
  flex-direction: column;
  align-items: center;
  .contact-main {
    display: flex;
    // padding: 40px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    min-height: 300px;
    border-radius: var(--radius-lg);
    background: linear-gradient(
      130.31deg,
      var(--colors-styles-bg-glass-l),
      var(--colors-styles-bg-glass-d)
    );
    border: 2px solid var(--colors-styles-border-glass-l);
    @include pad {
      width: 70%;
      gap: 48px;
    }
    a {
      position: relative;
      animation: vibrate 0.3s linear infinite both;
      display: flex;
      padding: 12px 32px;
      align-items: flex-start;
      box-sizing: border-box;
      overflow: hidden;

      &:hover{
        color: #fff;
        box-shadow: none;
        filter: brightness(1.1);
        animation: none;
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          animation: brightness 0.3s linear both;

          background: linear-gradient(130deg,#ffffff00 0,#ffffff00 10%,#ffffffc4 25%,#ffffffc4 35% ,#ffffff00 50%,#ffffff00);
        }
      }
    }
  }
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  // padding-top: 40px;
  h2 {
    color: var(--colors-gray-1000);
  }
  h5 {
    width: 80%;
    color: var(--colors-gray-800);
    @include pad{
      width: 100%;
    }
  }
}
