section {
  display: flex;
  margin-bottom: 52px;
  @include pad {
    margin-bottom: 100px;
  }
}

// about section
.about-wrap {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-7);

  .about-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    @include pad {
      flex-direction: row;
    }
    .about-img {
      flex: 1;
      img {
        max-width: 100%;
        height: auto;

        box-sizing: border-box;
        border-radius: var(--radius-lg, 16px);
        border: 3px solid var(--index-border-glass, rgba(255, 255, 255, 0.6));
        background: var(
          --index-image-gra,
          linear-gradient(
            119deg,
            rgba(255, 255, 255, 0.4) 10.25%,
            rgba(255, 255, 255, 0.1) 28.72%,
            rgba(255, 255, 255, 0.1) 82.89%,
            rgba(255, 255, 255, 0.4) 92.33%
          ),
          cover no-repeat
        );
        background-blend-mode: multiply, normal;

        /* box-shadow */
        box-shadow: 4px 4px 36px 0px rgba(148, 131, 185, 0.2);
        backdrop-filter: blur(calc(var(--spacing-3, 16px) / 2));
      }
    }
    .about-content {
      flex: 1;
      display: flex;
      min-height: auto;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        color: var(--colors-gray-1000);
      }
      p {
        color: var(--colors-gray-800);
      }
    }
  }
  .about-hashtag {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
    .hashtag {
      padding: 8px 16px;
      border-radius: var(--radius-lg);
      background: var(--colors-gray-white);

      /* box-shadow */
      box-shadow: 4px 4px 36px 0px rgba(148, 131, 185, 0.2);
      backdrop-filter: blur(calc(var(--spacing-3) / 2));

      h4 {
        color: var(--colors-gray-1000);
        span {
          color: var(--colors-primary-600);
          margin-right: 4px;
        }
      }
    }
  }
}

// skills section
.skills-wrap {
  flex-direction: column;
  align-items: center;
  gap: 72px;
  h2 {
    color: var(--colors-gray-1000);
  }
  .skills-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    width: 100%;
    @include pad {
      flex-direction: row;
      align-items: center;
      gap: 24px;
    }
  }
}

.skills-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   min-width: 330px;
  width: 100%;
  min-height: 280px;
  box-sizing: border-box;
  padding: 40px 28px 24px 28px;

  border-radius: var(--radius-md);
  border: 3px solid var(--index-border-glass, rgba(255, 255, 255, 0.6));
  background: var(
    --index-layout-glass,
    linear-gradient(130deg, rgba(255, 255, 255, 0.2) 11.15%, rgba(255, 255, 255, 0.04) 85.57%)
  );

  /* box-shadow */
  box-shadow: 4px 4px 36px 0px rgba(148, 131, 185, 0.2);
  backdrop-filter: blur(calc(var(--spacing-3, 16px) / 2));
  @include pad {
    border-radius: var(--radius-lg);
    padding: 60px 28px 24px 28px;
  }

  //   skill icon bg
  &:nth-child(1) {
    .skill-icon {
      background: linear-gradient(152deg, #ffdb5d 20.55%, #ee9c20 94.22%);
    }
  }
  &:nth-child(2) {
    .skill-icon {
      background: linear-gradient(151.56deg, #ff5dc8, #d91e99);
    }
  }
  &:nth-child(3) {
    .skill-icon {
      background: linear-gradient(151.56deg, #3ddcff, #27a5ec);
    }
  }
  .item-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 28px;
  top: -43px;
  padding: 8px;
  border-radius: var(--radius-lg);
  border: 3px solid rgba(255, 255, 255, 0.6);

  @include pad {
  }

  img {
    width: 40px;
    height: 40px;
    @include pad {
      width: 64px;
      height: 64px;
    }
  }
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  h3 {
    color: var(--colors-gray-1000);
  }
  ol {
    text-indent: -8px;
    padding-left: 16px;
    color: var(--colors-gray-800);

    > li:before {
      width: 8px;
      content: '•';
      color: var(--colors-gray-600);
      display: inline-block;
    }
  }
}

.skill-software {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  .software-title {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    p {
      color: var(--colors-gray-400);
    }

    hr {
      height: 0.1px;
      width: 100%;
      margin: 0;
      border: 0;
      background: var(--colors-gray-400);
    }
  }
}

// portfolio section
.portfolio-wrap {
  align-items: flex-start;
  gap: var(--spacing-6);
  .portfolio-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    h2 {
      color: var(--colors-gray-1000);
    }
    .button-next {
      display: flex;
      width: 60px;
      height: 60px;
      box-sizing: border-box;
      padding: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--radius-max);
      border: 3px solid var(--index-border-glass, rgba(255, 255, 255, 0.6));
      background: linear-gradient(180deg, #ba9df7 0%, #8b5dec 100%);

      /* box-shadow */
      box-shadow: 4px 4px 36px 0px rgba(148, 131, 185, 0.2);
      backdrop-filter: blur(calc(var(--spacing-3, 16px) / 2));
      @include pad {
        width: 82px;
        height: 82px;
      }
    }
  }
  .portfolio-main {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 24px;
    overflow-x: scroll;
    .portfolio-scroll {
      display: flex;
      gap: 24px;
      min-width: 500px;
      overflow-x: auto;
    }
  }
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  display: flex;
  min-width: 200px;
  height: 200px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  border-radius: var(--radius-lg);
  border: 3px solid var(--index-border-glass, rgba(255, 255, 255, 0.6));

  /* box-shadow */
  box-shadow: 4px 4px 36px 0px rgba(148, 131, 185, 0.2);
  backdrop-filter: blur(calc(var(--spacing-3) / 2));
  .portfolio-image {
    width: 100%;
    height: 100%;
  }
  .portfolio-content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    min-width: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 28px 32px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    background: linear-gradient(180deg, rgba(69, 69, 69, 0) 0%, rgba(69, 69, 69, 0.8) 61.64%);
    background-blend-mode: multiply;
    color: #fff;
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      height: 59px;
    }
  }
}

// contact section
.contact-wrap {
  flex-direction: column;
  align-items: center;
  .contact-main {
    display: flex;
    padding: 40px 48px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: var(--radius-lg, 16px);
    border: 3px solid var(--index-border-glass, rgba(255, 255, 255, 0.6));
    background: var(
      --index-layout-glass,
      linear-gradient(130deg, rgba(255, 255, 255, 0.2) 11.15%, rgba(255, 255, 255, 0.04) 85.57%)
    );
    @include pad {
      gap: 48px;
    }
    a {
      display: flex;
      padding: 12px var(--font-size-h2, 32px);
      align-items: flex-start;
    }
  }
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  h2 {
    color: var(--colors-gray-1000);
  }
  h5 {
    color: var(--colors-gray-800);
  }
}
