.banner {
  display: flex;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include pad{
    margin-top: 66px;
    height: 400px;
  }
  .banner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    opacity: 0;
    transform: translateY(50px);
  }
}

.h1 {
  text-align: center;
  font-family: var(--font-family-titleEn);
  font-size: 48px;
  font-size: clamp(var(--min-size-h1) * 1px, var(--font-size), var(--max-size-h1) * 1px);
  background: linear-gradient(91deg, var(--colors-primary-600) 20%, var(--colors-styles-bg-glass-l) 130%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h4 {
  color: var(--colors-gray-800);
  text-align: center;
    // letter-spacing: .2rem;
}
