.blobs{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-width: none;
  pointer-events: none;
  filter: blur(120px);
}

.blob{
  width: max(100px, 18vw);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;

  &:nth-child(1){
    background: var(--colors-brand-quaternary);
    // top: -30%;
    // left: 60vw;
  }
  &:nth-child(2){
    background: var(--colors-brand-secondary);
    // top: 20%;
    // left: 0vw;
  }
  &:nth-child(3){
    background: var(--colors-brand-tertiary);
    // top: 30%;
    // left: 20vw;
  }
  &:nth-child(4){
    background: var(--colors-brand-primary);
    // top: 50%;
    // left: 80vw;
  }
  &:nth-child(5){
    background: var(--colors-brand-quinary);
    // top: 120%;
    // left: 60vw;
  }
}