@use '@/assets/libs/mixins' as *;

.breadcrumb {
  width: 100%;
  margin: 0 auto;
  max-width: 1040px; // 與首頁保持一致
  box-sizing: border-box;
  position: relative;
  width: 90%;

  @include desktop {
    padding: 0 var(--spacing-4);
  }

  .breadcrumb-list {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    font-size: 14px;

    &:not(:last-child)::after {
      content: '/';
      color: var(--colors-gray-400);
    }

    .breadcrumb-link {
      color: var(--colors-gray-600);
      transition: 0.3s;
      text-decoration: none;

      &:hover {
        color: var(--colors-primary-400);
      }
    }

    .breadcrumb-text {
      color: var(--colors-gray-800);
      font-weight: var(--font-bold);
      letter-spacing: 0.15rem;
    }

    &.is-active {
      .breadcrumb-text {
        color: var(--colors-primary-500);
      }
    }
  }

  @include pad {
    padding: var(--spacing-3) 0;

    .breadcrumb-item {
      font-size: 13px;
    }
  }
}
