@use '@/assets/libs/mixins' as *;

// global links
a {
  font-family: var(--font-family-titleEn);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: 0.5s;
  color: var(--colors-gray-800);
  text-decoration: none;
  letter-spacing: 0.15rem;

  // 移除長按超連結預設高亮
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 透明 */
  -webkit-user-select: none; /* 防止選取 */
  user-select: none;

  svg {
    width: calc(40px - var(--spacing-2) * 2);
    height: calc(40px - var(--spacing-2) * 2);
    path {
      fill: var(--colors-gray-800);
      transition: 0.5s;
    }
  }
  &:hover {
    color: var(--colors-primary-400);
    svg path {
      fill: var(--colors-primary-400);
    }
  }
}

// global button
.button-CTA {
  font-weight: var(--font-bold);
  position: relative;
  padding: 8px 24px;
  border-radius: var(--radius-max);
  background: linear-gradient(127deg, #ffd568 20.56%, #ff9c41 88.08%);
  box-shadow: 4px 4px 20px 0px var(--colors-styles-shadow-glass);
  color: #454545;
  overflow: hidden;

  &:hover {
    color: #fff;
    box-shadow: none;
    filter: brightness(1.1);
    animation: none;
    box-shadow: none;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      animation: brightness 0.3s linear both;

      background: linear-gradient(
        130deg,
        #ffffff00 0,
        #ffffff00 10%,
        #ffffffc4 25%,
        #ffffffc4 35%,
        #ffffff00 50%,
        #ffffff00
      );
    }
  }

  @include pad {
    padding: 8px 28px;
  }
}

.button-L {
  position: relative;
  padding: 8px 24px;
  border-radius: var(--radius-max);
  background: linear-gradient(127deg, #ffd568 20.56%, #ff9c41 88.08%);
  box-shadow: 4px 4px 20px 0px var(--colors-styles-shadow-glass);
  color: #fff;

  &:hover {
    color: #fff;
    box-shadow: none;
  }
  @include pad {
    padding: 12px 32px;
  }
}
