.banner {
  display: flex;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include pad{
    height: 400px;
  }
  .banner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

h1,
.h1 {
  text-align: center;

  /* Index/bold/h1 */
  font-family: var(--font-family-titleEn, Montserrat);
  font-size: var(--font-size-h1, 48px);
  font-style: normal;
  font-weight: 800;
  line-height: var(--font-height-h1, 72px); /* 150% */
  letter-spacing: var(--font-spacing-h1, 1.8px);

  background: linear-gradient(91deg, #8b5dec 0.78%, #d3c3f5 126.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3,
.h3 {
  color: var(--Colors-Gray-600, #929292);
  text-align: center;

  /* Index/medium/h4 */
  font-family: var(--font-family-titleZh, 'Noto Sans TC');
  font-size: var(--font-size-h4, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--font-height-h4, 30px); /* 150% */
  letter-spacing: var(--font-spacing-h4, 1.5px);
}
