@use '@/assets/libs/mixins' as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 36px 0;
  background: linear-gradient(
    130.31deg,
    var(--colors-styles-bg-glass-m),
    var(--colors-styles-bg-glass-d)
  );
  box-shadow: 0px -4px 36px var(--colors-styles-shadow-glass);
  border-top: 2px solid var(--colors-styles-border-glass-l);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  @include pad {
    padding: 48px 0;
  }
}

.footer-wrap {
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4);

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--spacing-3);
    @include pad {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .copyright {
    color: var(--colors-gray-600);
  }
}

// footer title
.footer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-6);

  .footer-link {
    // color: var(--colors-gray-800);
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-4);
  }
}

// footer social link
.footer-social {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2);
  a {
    border-radius: var(--radius-md);
    svg {
      width: calc(40px - var(--spacing-2) * 2);
      height: calc(40px - var(--spacing-2) * 2);
    }
  }
}
