header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 60px;
  width: 100%;
  background-color: transparent;
  // position: sticky;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  max-width: 1040px;
  margin-top: var(--spacing-3);
  padding: var(--spacing-2) var(--spacing-4);
  backdrop-filter: blur(16px);
  border-radius: var(--radius-max);
  // nav {
  //   display: flex;
  //   align-items: flex-start;
  //   color: var(--colors-gray-1000);
  //   gap: var(--spacing-3);
  //   font-weight: var(--font-bold);

  //   @include pad {
  //     gap: var(--spacing-5);
  //   }
  // }
}

// pc menu
.pc-menu {
  display: none;
  @include pad {
    display: flex;
    align-items: flex-start;
    color: var(--colors-gray-1000);
    gap: var(--spacing-3);
    font-weight: var(--font-bold);
  }
  @include desktop {
    gap: var(--spacing-5);
  }
}

// mobile menu
.mb-menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

.nav-menu {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  @include pad {
    display: none;
  }
  &.open {
    z-index: 151;
  }
}

.nav-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 75%;
  background: var(--colors-gray-800);
  border-radius: 9px;
  opacity: 1;
  left: 5px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.nav-menu span:nth-child(1) {
  top: 7px;
  transform-origin: left center;
}

.nav-menu span:nth-child(2) {
  top: 17px;
  transform-origin: left center;
}

.nav-menu span:nth-child(3) {
  top: 27px;
  transform-origin: left center;
}

.nav-menu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
  // left: 8px;
  width: 72%;
}

.nav-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 27px;
  // left: 8px;
  width: 72%;
}

.menu-main {
  background: var(--headerBg-glass);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  /* 選單打開時的狀態 */
  &.open {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(8px);
    overflow: hidden;
  }
}

// dark mode switch
.dark-switch {
  position: relative;
  display: inline-block;
  padding: 4px;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  // Hide default HTML checkbox
  > input {
    opacity: 0;
    width: 0;
    height: 0;
    // status settings
    &:checked + .switch-main {
      // background-color: var(--colors-gray-white);
    }
    &:checked + .switch-main:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    &:focus + .switch-main {
      // box-shadow: 0 0 1px var(--colors-gray-white);
    }
  }
}

.switch-main {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // border-radius: var(--radius-max);
  // background-color: var(--colors-gray-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  // &:before {
  //   position: absolute;
  //   content: '';
  //   height: 26px;
  //   width: 26px;
  //   left: 4px;
  //   bottom: 4px;
  //   border-radius: 50%;
  //   background-color: var(--colors-primary-600);
  //   -webkit-transition: 0.4s;
  //   transition: 0.4s;
  // }
  .switch-icon {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > svg {
      padding: var(--spacing-2);
      border-radius: 100%;
      // background-color: var(--colors-primary-600);
      background-color: var(--colors-gray-white);
    }
    > svg path {
      fill: var(--colors-gray-400);
    }
  }
}
