// css reset
@use 'reset-css/sass/reset' as *;

// 引入所有scss檔，頁面檔個別引入
@use 'libs/mixins' as *; //斷點優先讀取
@use 'libs/fonts' as *;
@use 'libs/setting' as *;
@use 'libs/animation' as *;
@use 'layout/layout' as *;
@use 'layout/header' as *;
@use 'layout/nav' as *;
@use 'layout/footer' as *;
@use 'layout/loading' as *;
@use 'components/banner' as *;
@use 'components/bgblobs' as *;
@use 'components/button' as *;
@use 'components/breadcrumb' as *;
@use 'components/article-nav' as *;
@use 'pages/index' as *;
@use 'pages/blog' as *;
